/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/* END RESET */

/*
 * BASE
 */

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #F1F1F2;
	margin-top: 0;
	padding-top: 0;
	height: 100%;
}

header {
	background-color: #fff;
	height: 90px;
	width: 100%;
	margin-top: 0;
	
}

h1 {
	font-size: 20pt;
	font-family: 'PT Serif Caption', serif;
	margin-top: 60px;
}

h1, h3 {
	margin-left: 150px;
}

h3 {
	color: #2BB673;
}

nav {
	margin-right: 150px;
}

nav ul li {
	text-decoration: none;
	display: inline;
	float: right;
	color: #6D6E71;
	/*margin-top: 60px;*/

}

nav ul li a {
	text-decoration: none;
	color: #6D6E71;
	padding-left: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 12pt;

}

nav ul li a:hover {
	color: #2BB673;

}

nav ul li a:visited {
	color: #594A42;
}

img {
	width: 140px;
	height: 140px;
	display: inline-block;
	/*border: 1px solid black;*/
	margin: 0;
	

}

/*
 * LAYOUT
 */


.gallery {
	/*clear: both;*/
	/*margin-top: 100px;*/
	padding-top: 70px;
	text-align: center;
	background-image: none;
}
.first-row img {
	/*width: 70%;*/
	display: inline-block;

}
.gallery img:hover {
	/*display: none;
	background-image: url("homepage-graphics/a.png");*/
	/*width: 220px;
	height: 220px;*/
}

.legenda img {
	width: 23px;
	height: 23px;
	/*text-align: center;
	margin-bottom: 70px*/
}
.legenda {
	float: right;
	height: 200px;
	margin-right: 100px;
	/*text-align: center;
	position: auto;
	margin: auto;*/
	/*width: 580px;*/
}
td {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding-bottom: 10px;
	line-height: 25px;
	text-align: left;
	padding-right: 5px;

}
tr {
	line-height: 25px;



	/*text-align: center;*/
	/*padding-bottom: 8px;*/
	/*margin-bottom: 10px;*/
}
.words {
	line-height: 
}

